.volume
  %p
    Name:
    = volume.name
  %p
    Start year:
    = volume.start_year
  %p
    Publisher:
    = volume.publisher_name
  %p
    Number of issues:
    = link_to volume.issues.count, volume_issues_path(volume)
  %p= link_to 'ComicVine details', volume.site_detail_url
  %p= image_tag volume.image_url

