%h1 Listing

- @volumes.each do |volume|
  .volume-name
    Name:
    = link_to volume.name, volume_path(volume)
    %div{id: "add-volume-#{volume.id}"}
      = button_to 'Add to My Library', libraries_path(volume: volume.id) unless current_user.has_volume?(volume)
    %div{id: "remove-volume-#{volume.id}"}
      = button_to 'Remove from My Library', libraries_path(volume: volume.id), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'loading...' } if current_user.has_volume?(volume)
