!!!
%html
  %head
    %title ComicsTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to 'My Library', library_path
    = link_to 'All volumes', volumes_path
    = yield
    = console if Rails.env.development?
